.tableOwerflow {
    overflow-x: auto;
    width: 100%;
  }
  
  .getContainer {
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    overflow-y: auto;
  }
  
  .mainContainer {
    width: 100%;
    background-color: #9bc9f4;
  }
  
  .postContainer {
    overflow-x: auto;
    width: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .button1 {
    background-color: white;
    border: 0;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  img {
    width: 35px;
    height: 35px;
    border: 0;
  }
  
  input {
    background-color: rgb(242, 242, 242);
    border: 1px solid #abc2d2;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
  }
  
  input:hover {
    background-color: white;
  }
  
  input:focus {
    background-color: rgb(255, 255, 209);
  }
  
  label {
    margin: 2px;
  }
  
  .formContentA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  .groupForm1 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .groupForm2 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .smallDiv {
    text-align: center;
  }
  
  .labelStyle {
    display: block;
    margin-bottom: 5px;
  }
  
  .buttonAdd {
    margin-left: 5px;
  }
  
  @media screen and (max-width: 600px) {
    .formContentA {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .buttonAA {
    background-color: white;
    color: #21577e;
    border: 1px solid #21577e;
    padding: 8px 8px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 3px;
  }
  
  .buttonAA:hover {
    background-color: #ef0b6a;
    color: white;
  }
  