.frame {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableContainer {
  overflow-x: auto;
  width: 98%;
  height: 20%;
}

.tableOwerflow {
  overflow-x: auto;
  width: 100%;
  border: 0;
}


.tableData {
  width: 100%;
}

.tableOwerflow table tbody tr:nth-child(odd) {
  background-color: #d9ecea83;
}

.tableOwerflow table tbody tr:nth-child(even) {
  background-color: #d9eceaf3;
}

.tableOwerflow table thead {
  background-color: #00B6B9;
  color: white;
  padding: 15px;
}

.tableOwerflow table td {
  padding: 10px;
}

.tableOwerflow table th {
  padding: 10px;
}

.tableOwerflow table {
  border-collapse: collapse;
}

.tableOwerflow table,
.tableOwerflow table th,
.tableOwerflow table td {
  border: none;
}

.getContainer {

  overflow-x: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.mainContainer {
  width: 100%;
}

.postContainer {
  overflow-x: auto;
  width: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.button1 {
  background-color: white;
  border: 0;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s;
}


.inputT {
  background-color: rgb(255, 255, 255);
  border: 1px solid #abc2d2;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

.field-regcountryb {
  border: 1px solid #abc2d2;
}



.inputT:hover {
  background-color: white;
}

.inputT:focus {
  background-color: rgb(255, 255, 209);
}

.formContentA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.groupForm1 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.groupForm2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.smallDiv {
  text-align: center;
}

.labelStyle {
  display: block;
  margin-bottom: 5px;
}


@media screen and (max-width: 600px) {
  .formContentA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.buttonAA {

  background-color: white;
  color: #00B6B9;
  border: 1px solid #00B6B9;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 8px;

}

.buttonAA:hover {
  background-color: #00B6B9;
  color: white;
}

.button1 {
  background-color: transparent;
  border: none;
}

.txtEditSave {
  color: #00B6B9;
}

.txtDelete {
  color: rgb(210, 38, 38)
}

.centerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headField:hover {
  background-color: #84dedf;
  ;
}


.row-enter {
  opacity: 0.01;
  transform: translateY(-20px);
}

.row-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.row-exit {
  opacity: 1;
  transform: translateY(0);
}

.row-exit-active {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

.sortIcon {
  width: 16px;
  height: 16px;
}


.headField {
  cursor: pointer;
}


.specialHeader {
  background-color: rgb(149, 206, 175);
}

.specialHeader:hover {
  background-color: rgb(149, 206, 175);
}