.navbar_user_mobile {
    display: none;
}

.navbar_user_desktop {
    background-color: #D9ECEA;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar_user_desktop--left {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
}

.navbar_desktop_logo {
    height: 90%;
}

.navbar_user_desktop--center {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.navbar_user_desktop--right {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
    padding-right: 5%;
}

.navbar_user_desktop--right img {
    height: 40%;
}

.navbar_desktop_language {
    font-size: small;
}

.navbar_user_desktop--right .language_span {
    color: #00B6B9;
    font-weight: 500;
}

@media (max-width: 800px) {
    .navbar_user_desktop--left,
    .navbar_user_desktop--right {
        width: 10%;
    }

    .navbar_user_desktop--center {
        width: 80%;
        gap: 7%;
    }

    .navbar_user_desktop--right {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 660px) {
    .navbar_desktop_logo {
        height: 80%;
    }

    .navbar_user_desktop--center {
        flex-wrap: wrap;
    }

    .navbar_desktop_language {
        font-size: 11px;
    }
}

@media (max-width: 520px) {
    .navbar_desktop_logo {
        height: 70%;
    }

    .navbar_user_desktop--right img {
        height: 40%;
    }
}

@media (max-width: 430px) {
    .navbar_user_desktop,
    .toggle_menu {
        display: none;
    }

    .navbar_user_mobile {
        background-color: #D9ECEA;
        height: 10vh;
        width: 100%;
        display: flex;
        position: relative; 
    }
    
    .navbar_user_mobile--left,
    .navbar_user_mobile--right {
        box-sizing: border-box;
        align-items: center;
        width: 50%;
    }

    .navbar_user_mobile--left {
        display: flex;
        padding-left: 10%;
    }

    .navbar_user_mobile--left img {
        height: 70%;
    }
    
    .navbar_user_mobile--right {
        display: flex;
        justify-content: flex-end;
        gap: 20%;
        padding-right: 10%;
    }

    .navbar_mobile_profile_icon {
        height: 50%;
    }

    .navbar_mobile_hamburger_icon {
        font-size: 24px; 
        cursor: pointer;
    }

    .modal_menu {
        display: none;
        position: absolute;
        top: calc(100% - 10px);
        right: 20px; 
        background-color: #00B6B9;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1; 
        width: 120px; 
    }

    .modal_menu.open {
        display: block;
    }

    .navbar_mobile_language {
        font-size: smaller;
    }

    .navbar_mobile_language .language_span {
        color: #D9ECEA;
    }
    .modal_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .modal_menu li {
        margin: 20px 0;
        text-align: center;
        color: #000000; 
    }
}
