@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.card {
  background-color: #D9ECEA;
  color: black;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 16px;
  transition: transform 0.2s;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  background-color: #008F8B;
  color: white;
  display: inline-block;
  /* Para ajustar el tamaño al contenido */
  padding: 8px 120px;
  /* Para agregar un poco de espacio alrededor del texto */
  margin: 16px 0;
  /* Margen para separarlo del contenido superior e inferior */
  border-radius: 2px;
}

.card-image {
  width: 70%;
}

.card-description {
  justify-content: center;
  margin: 5%;
}

