footer {
    background-color: #D9ECEA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
}

.footer_left {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    gap: 7%;
}

.footer_center {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 7%;
}

.footer_logo {
    height: 70%;
}

.footer_right {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
    padding-right: 5%;
}

.link_facebook,
.link_instagram {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;}

.footer_right img {
    height: 50%;
    /* para cambiarles el color se tiene que cambiar en el .svg directamente, porque con css, a un .svg dentro de una etiqueta img es complejo */
}

@media (max-width: 800px) {
    .footer_left {
        flex-direction: column;
        font-size: small;
        text-align: center;
    }

    .footer_center {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    footer {
      height: 25vh; 
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      background-color: #D9ECEA;
      place-items: center;
    }

    .footer_left,
    .footer_center,
    .footer_right {
        padding: 0;
        justify-content: center;
        width: 100%;
    }
  
    .footer_left {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    .footer_logo {
      height: 40px;
    }
  
    .footer_center {
      grid-area: 1 / 1 / 2 / 2;
      flex-direction: column;
      gap: 10px;
      font-size: 15px;
    }
  
    .footer_right {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    .footer_right img {
      height: 30px; 
    }
  }
  