.containerGroup{
    display:flex;
    flex-direction: row;
    /* gap:5%; */
    background-color: blue;
}

.inner-div {
    width: 50%; /* Cada div interior ocupa el 50% del ancho del padre */
    box-sizing:
}